* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    font-family: 'Sunflower', sans-serif;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:96%;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.container{
    display: block;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
#map {
    height: 300px;
    width: 100%;   
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.lblCustom {
    display: inline-block;
    margin: 0 auto;
    overflow: auto;
    vertical-align: bottom;
}   
.inputCustom {
    display: inline-block;
    width: 200px;
    height: auto;
    border-color: #000000;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 0;
    cursor: pointer;
}
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

table.dataTable {
    width: 0px!important;
}
.dt {
    margin-right: 10px!important;
    margin-left: 10px!important;
}
.tableContainer {
    display: none;
}
